# ZysLet admin environment

# Backend API base
NEXT_PUBLIC_BASE_URL=http://localhost:5000

# Public URLs (production)
NEXT_PUBLIC_API_URL=https://server.zyslet.com
NEXT_PUBLIC_CLIENT_URL=https://zyslet.com
NEXT_PUBLIC_ADMIN_URL=https://admin.zyslet.com

NODE_ENV=development
